# Global patterns
*.swp
*.todelete
.DS_Store
nimcache/

# Full paths.
/LICENSE.html
/README.html
/docs/CHANGES.html
/docs/release_steps.html
/genieos
/genieos.html
/nakefile
/recycle
/tests/test_lib
/trash-binary/trash
